/* Styles for Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-links a:hover {
    background-color: #45a049;
}
